<!DOCTYPE html>
<html>
<head>
<style>
table {
  border-collapse: collapse; 
}

table, th, td {
  border: 1px solid black;
}

th, td {
  padding: 10px;
  text-align: centerb nv;
}

th {
  background-color: pink;
}

td[colspan="2"] {
  text-align: center;
}

</style>
</head>
<body>

<table>
  <tr>
    <th colspan="2">Academic qualifications</th>
    <th>Year awards</th>
  </tr>
  <tr>
    <td rowspan="2">Bachelor of Education</td>
    <td>The university of Jiangsu</td>
    <td>2019</td>
  </tr>
  <tr>
   <td colspan="2" ; bgcolor="lightblue"; >first class honor</td> 
  </td>
  </tr>
  <tr>
    <td rowspan="2">Master of education</td>
    <td>The university of Hong kong</td>
    <td>2023</td>
  </tr>
  <tr>
    <td colspan="2" ; bgcolor="lightblue"; >the best student</td>
  </tr>
  <tr>
    <td rowspan="2">Doctor of Education</td>
    <td>The university of California, Berkeley</td>
    <td>2025</td>
  </tr>
  <tr>
    <td colspan="2" ; bgcolor="lightblue"; >the best award</td>
  </tr>
</table>

</body>
</html>